@{
    ViewData["Title"] = "WorkoutPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>WorkoutPage</h1>*@
<div style="height:70px; background-color: red;">
    <h1 align="left">
        <font face="Arial" size="7" color="White">HomeFitness</font> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <img src="~/lib/image/LogoEntprog.png" width="200" height="65"/>
    </h1>
</div>
<div style="background-color: black; height:40px;">
    <h2 align="center">
        <font face="Arial" size="4" color="White">
            <a href="~/Home/Index"><font face="Arial" size="4" color="White">Home</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="~/Main/EquipmentPage"><font face="Arial" size="4" color="White">Equipments</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="~/Main/WorkoutPage"><font face="Arial" size="4" color="White">Workouts</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="~/Contact/Create"><font face="Arial" size="4" color="White">Contact Us</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="~/Order/Index"><font face="Arial" size="4" color="White">My Orders</font></a>
        </font>
    </h2> 
</div>
@*</div>*@
<div class="container" style="height:500px; background-color: White;">
    @*<h1 align="center">
        <font face="Arial" size="3" color="black">
            Workout Page
        </font>
    </h1>*@
    <h2><font face="Arial" size="10" class="text-center">Easy and Basic Workouts You Could Do At Home</font></h2>
    <iframe width="180" height="180" src="https://www.youtube.com/embed/Yq3EMpaRPcE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/3O6WUADm5q8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/edIK5SZYMZo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/_hIFF8G-BG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/shSxVi7xFfA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/3sEeVJEXTfY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/oAPCPjnU1wA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/3IbAMlitU2I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/fLLScgWQcHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/cQO2V65eK3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/MdsOS1sbZCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/QDUklXQJ_6E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/H9vwqwN69rU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/EjKS8l6zfEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
    <iframe width="180" height="180" src="https://www.youtube.com/embed/LBBnoBJeUEY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp&nbsp&nbsp
     @*codes here for Workout page
     include links for workout videos*@

</div>
<br />
<br />
<br />
<br />
<br />
<br />  
<br />
<br />
<br />
<br />
<br />
<br />
<div style="height:70px; background-color: red;">
    <h1 align="left upper">
        <font face="Arial" size="5" color="White">Your one click fitness buddy</font>
    </h1>
</div>

