@{
    ViewData["Title"] = "Home Page";
}

<body class="container">
<div style="height:70px; background-color: red;">
    <h1 align="left">
        <font face="Arial" size="7" color="White">HomeFitness</font> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <img src="~/lib/image/LogoEntprog.png" width="200" height="65"/>
    </h1>
</div>
<div style="background-color: black; height:40px;">
    <h2 align="center">
        <font face="Arial" size="4" color="White">
            <a href="~/Home/Index"><font face="Arial" size="4" color="White">Home</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="~/Main/EquipmentPage"><font face="Arial" size="4" color="White">Equipments</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="~/Main/WorkoutPage"><font face="Arial" size="4" color="White">Workouts</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="~/Contact/Create"><font face="Arial" size="4" color="White">Contact Us</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="~/Order/Index"><font face="Arial" size="4" color="White">My Orders</font></a>
        </font>
    </h2> 
</div>

<div>
    <img src="~/lib/image/gym2.jpg" width="1080"/>
</div>

<div style="height:70px; background-color: red;">
    <h1 aligh="left upper">
        <font face="Arial" size="5" color="White">Your one click fitness buddy</font>
    </h1>
</div>
</body>
