
@{
    ViewData["Title"] = "Thankyou1";
}

<div style="height:70px; background-color: red;">
    <h1 align="left">
        <font face="Arial" size="7" color="White">HomeFitness</font> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <img src="~/lib/image/LogoEntprog.png" width="200" height="65" />
    </h1>
</div>

<div class="align-self-md-center">
    <div class="text-center">
        <h1>Thank you! Your order has been recorded!</h1>
    </div>

    <div>
        <form method="post" action="/Home/Index">
            <div class="col text-center">
                <input type="submit" value="Homepage" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   

    <div style="height:70px; background-color: red;">
        <h1 align="left upper">
            <font face="Arial" size="5" color="White">Your one click fitness buddy</font>
        </h1>
    </div>


